.App {
  text-align: center;
  background-color: #f5f5f5;
  min-height: 100vh;
}
.Loading {
  height: 40vmin;
  font-size: 20px;
  opacity: 0.7;
  pointer-events: none;
  min-height: 100vh;
  color: white;
  padding: 50vh 0;
}

.ArticlesPage {
  max-width: 90vw;
  margin: 0 auto;
  border-radius: 1vw;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Header {
  max-width: 90vw;
  margin: 0 auto;
}

.Header > h1 {
  font-size: 7rem;
  margin: 0;
  padding: 5px;
  color: rgb(218, 212, 212);
  text-align: left;
 
}

section.List {
  list-style: none;
  padding: 30px ;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto 2vh auto;
}

section.List > article {
  display: flex;
  max-width: 50%;
  flex: 1;
  flex-direction: row
}

section.List > article > a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  text-align: left;
}
section.List > article > a > h2, section.List > article > a > h3 {
  margin: 0;
  padding: 0;
}
section.List > article > a:hover {
  cursor: pointer;
  color: rgb(92, 92, 92);
  
}
.thumbImage {
  width: 210px;
  height: 150px;
  border-radius: 6px;
  margin: 10px;
  vertical-align:middle;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.thumbImage > img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  mix-blend-mode: multiply;
}

@keyframes blink-animation {
  to {
    opacity: 0.8;
  }
}
@-webkit-keyframes blink-animation {
  to {
    opacity: 0.9;
  }
}
